:root {
    --primary-color: #7a5a96;
    --text-color: lightgrey;
    --secondary-color: black;
    --code-bg-color: #011627;
    --code-bg-color-translucent: #01162733;
    --code-color: #d6deeb;
}

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);*/

@font-face {
    font-family: spaceGrotesk;
    src: url(https://nickc01.github.io/fonts/spacegrotesk-regular.woff2) format('woff2'), url(https://nickc01.github.io/fonts/spacegrotesk-regular.woff) format('woff'), url(https://nickc01.github.io/fonts/spacegrotesk-regular.ttf) format('truetype');
}

@font-face {
    font-family: spaceGrotesk-SemiBold;
    src: url(https://nickc01.github.io/fonts/spacegrotesk-semibold.woff2) format('woff2'), url(https://nickc01.github.io/fonts/spacegrotesk-semibold.woff) format('woff'), url(https://nickc01.github.io/fonts/spacegrotesk-semibold.ttf) format('truetype');
}

@font-face {
    font-family: nechao_sharp;
    src: url(web-content/fonts/nechao_sharp.woff2) format('woff2'), url(web-content/fonts/nechao_sharp.woff) format('woff'), url(web-content/fonts/nechao_sharp.ttf) format('truetype');
}

.unhighlightable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html {
    scrollbar-color: rgba(128, 128, 128, 1) rgba(0, 0, 0, 0.7);
    scrollbar-width: thin;
}

body {
    margin: 0;
}

    body::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.5rem;
        background-color: rgba(0, 0, 0, 0.7);
    }

    body::-webkit-scrollbar-thumb {
        background-color: rgba(128, 128, 128, 1);
        border-radius: 1rem;
    }

#title-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
    font-family: spaceGrotesk-SemiBold;
}

h1 {
    font-family: nechao_sharp;
    font-size: min(10rem, 20vw);
    color: #7d45ad;
    margin: 0;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

#video-area {
    position: absolute;
    top: 0vw;
    left: 0vh;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-color: black;
    overflow: hidden;
}

#background-video {
    filter: brightness(0.65) blur(0.2rem);
    min-width: calc(100% + 10rem);
    min-height: calc(100% + 10rem);
    max-height: calc(100% + 10rem);
    max-width: calc(100% + 10rem);
    object-fit: cover;
    overflow: hidden;
    margin: -5rem -5rem -5rem -5rem;
}

.highlight-text-area {
    background-color: #4f4f4f99;
    padding: 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-row {
    display: flex;
    max-width: 100%;
    flex-wrap:wrap;
}

    .button {
        flex-grow: 1;
        text-align: center;
        max-height: 1.75rem;
        text-decoration: none;
        font-size: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        margin: 2rem;
        border-radius: 0.8rem;
        opacity: 1;
        color: var(--text-color);
        background-color: var(--primary-color);
        transition: color 200ms, background-color 200ms;
    }

    .button:hover {
        background-color: white;
        color: var(--secondary-color);
    }

#title-area > .highlight-text-area {
    margin-left: 2rem;
    margin-right: 2rem;
}

h2 {
    color: lightgrey;
    text-align: center;
    font-size: min(1.5rem, 5vw);
}

#informational-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(-45deg, #369139, #369139, #5d3396, #7a3391);
    background-color: #369139;
    background-size: 400% 400%;
    animation: gradient 15s ease-in-out infinite;
    font-family: spaceGrotesk-SemiBold;
}

#background-canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -100;
}

.section {
    flex-grow: 1;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}

.reverse-section {
    flex-direction: row-reverse;
}

    .section > .container {
        height: auto;
        background-size: 400% 400%;
        text-align: justify;
        border-radius: 2rem;
        padding: 1rem;
        margin: 1rem;
        margin-top: 2rem;
        position: relative;
        align-self: stretch;

        display: inline-flex;
        align-items: center;
    }

    .section > .vertical {
        flex-direction: column;
        align-items: center;
    }

    .section > .horizontal {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:center;
    }


.container:not(.secondary-container) {
    background-color: var(--code-bg-color);
    width: 20rem;
    margin-top: 5rem;
}

.section > .container > h2 {
    color: var(--code-color);
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 100%;
    font-size: 1.75rem;
}

.section > .container > h3, li {
    color: var(--code-color);
    font-family: spaceGrotesk;
    font-size: 1.125rem;
    font-style: normal;
    padding-left: 1rem;
    padding-right: 1rem;
}

.secondary-container {
    background-color: var(--code-bg-color);
}

.lowered-button {
    margin: 0.75rem;
    margin-top: -1.25rem;
}

.spacer {
    width: 0.15rem;
    height: auto;
    align-self: stretch;
    margin: 1rem;
    background-color: #d6deeb88;
}

.video-container {
    border-radius: 1.5rem;
    background-color: black;
    position: relative;
    overflow: hidden;
}

.content-video {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.inline-link {
    color: #c792ea;
}

#c_and_r_video {
    max-width: 65rem;
}

.less-padding {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.powerup-video > video {
    max-height: 28rem;
}

#powerup-video-1 {
    margin-right: 0.5rem;
}

#powerup-video-2 {
    margin-left: 0.5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes background-color-anim {
    0% {
        background-color: #a68dc7;
    }

    50% {
        background-color: #95c997;
    }

    100% {
        background-color: #a68dc7;
    }
}

@keyframes color-anim {
    0% {
        color: #a68dc7;
    }

    50% {
        color: #95c997;
    }

    100% {
        color: #a68dc7;
    }
}

.hljs {
    color: var(--code-color);
    font-size: 1rem;
}

    .hljs::-webkit-scrollbar {
        height: 6px;
    }

.hljs-keyword, .hljs-title, .hljs-built_in {
    font-style: normal;
}






/** {
    font-family: Open Sans;
}*/

section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}

#brand-logo {
    max-width: 4rem;
    filter: brightness(200);
    margin-bottom: 1rem;
}

.footer-distributed {
    background: var(--code-bg-color);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    position: relative;
}

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 40%;
    }

    /* The company logo */

    .footer-distributed h3 {
        color: #ffffff;
        /*font: normal 3rem 'Open Sans', cursive;*/
        font-family: spaceGrotesk-SemiBold;
        font-size: 2rem;
        margin: 0;
    }

        .footer-distributed h3 span {
            color: lightseagreen;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            font-weight: 400;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #ffffff;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 25%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            font-weight: 400;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: lightseagreen;
                text-decoration: none;
                ;
            }

    .footer-distributed .footer-links a:before {
        content: "|";
        font-weight: 300;
        font-size: 20px;
        left: 0;
        color: #fff;
        display: inline-block;
        padding-right: 5px;
    }

    .footer-distributed .footer-links .link-1:before {
        content: none;
    }

    /* Footer Right */

    .footer-distributed .footer-right {
        width: 30%;
    }

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin-left: auto;
        margin-right: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: #ffffff;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 20px;
            white-space: nowrap;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
        margin-left: auto;
        margin-right: 0;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

.footer-icons > a > img {
    width: 100%;
    height: 100%;
}

.footer-company-about > a {
    color: var(--primary-color);
}

.footer-right {
    text-align: right;
}

    .footer-right > img {
        visibility: hidden;
    }

    .footer-right > h3 {
        
        white-space:nowrap;
    }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 880px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }

            .footer-distributed .footer-center i {
                margin-left: 0;
            }
}
